body {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f6d150;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  border-radius: 1px solid black;
  font-family: "Figtree", sans-serif;
}
#learn-link {
  margin-top: 0.5rem;
}

.container {
  border: 1px solid black;
  background-color: white;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: 8px 8px rgba(0, 0, 0, 1);
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  width: 90%;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
.info-card,
.user-info {
  margin-left: 1rem;
  margin-right: 1rem;
}
.info-card a {
  text-decoration: none;
  color: black;
  background-color: #f6d150;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.user-info {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin-left: 0;
}
.user-info img {
  width: 20%;
  height: 20%;
}
